<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.im.va20190648.vitor.aleluia.bookingbeauty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingBeauty">
        <activity
            android:name=".esteticista.AgendaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.EcraSobreActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.FimMarcacao"
            android:exported="false" />
        <activity
            android:name=".cliente.EditarDadosUtilizador"
            android:exported="false" />
        <activity
            android:name=".esteticista.VerMarcacoesTrabalhadorActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.VerMarcacoesActivity"
            android:exported="false" />
        <activity
            android:name=".RegistoActivity"
            android:exported="false" />
        <activity
            android:name=".esteticista.EcraInicialEsteticista"
            android:exported="false" />
        <activity
            android:name=".cliente.FazerMarcacaoCliente"
            android:exported="false" />
        <activity
            android:name=".cliente.SelecionarServicos"
            android:exported="false" />
        <activity
            android:name=".esteticista.AdicionarServico"
            android:exported="false" />
        <activity
            android:name=".esteticista.Servicos"
            android:exported="false" />
        <activity
            android:name=".cliente.EcraInicialCliente"
            android:exported="false" />
        <activity
            android:name=".esteticista.EditarEliminarServico"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>